<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuncraftBackup - Forum</title>
</head>
<body>
    <h1 class="cent">===== En travaux =====</h1>
    <h1 class="nomar">Backup avec succès:</h1>
    <ul>
        <li>Tous les threads forum (auteur, date de création, catégoriesondage si il y a)</li>
        <li>Tous les posts du forum (date, date de dernier edit, auteur, contenu)</li>
    </ul>
    <h1 class="nomar">Perdu:</h1>
    <ul>
        <li>Profils du forum (les ids/noms d'utilisateur sont les mêmes que les stats normales, mais il manque toutes les infos du style comptes liés, page de présentation, etc)</li>
    </ul>
    <br>
    <h2 class="cent"><a href="/">===== Revenir au site principal =====</a></h2>
</body>

<style>
    .nomar {
        margin: 0px;
        padding: 0px;
    }
    .cent {
        text-align: center;
    }
</style>
</html>