<!DOCTYPE HTML>
<html class="no-js" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Serveur Minecraft Mini-Jeux et PVP GRATUIT. Launcher Ascentia minecraft gratuit.">
    <meta name="keywords" content="minecraft,mini-jeux,pvp,funcraft,rush,factions,launcher,ascentia,gratuit">
    <meta name="author" content="Nathan Poirier">
    <title>Erreur 500 - FunCraft</title> <!--[if lte IE 9]>
        <script src="/static/lib/ie_comp/ie_comp.js?v=32b6c04x"></script>
        <![endif]-->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="theme-color" content="#D83C00">
    <meta name="msapplication-navbutton-color" content="#D83C00">
    <meta name="apple-mobile-web-app-status-bar-style" content="#D83C00">
    <link href="/static/def.css?v=32b6c04x" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>

<body>
    <div id="main-layout">
        <div class="container margin-top">
            <div class="box">
                <h1>Oups !</h1>
                <h2>Une erreur interne est survenue.</h2>
                <p>Code d'erreur: 500</p> <br>
                <div class=""> <strong>Liens utiles :</strong>
                    <ul class="list-links">
                        <li><a href="/fr">Accueil</a></li>
                        <li><a href="/fr/jeux">Jeux</a></li>
                        <li><a href="/fr/joueurs">Joueurs</a></li>
                        <li><a href="/fr/mon-compte">Mon compte</a></li><!-- START ADDITION -->
                        <li> <a href="/about">À propos</a> </li> <!-- END ADDITION -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <script> window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-74796433-2', 'auto'); ga('send', 'pageview'); </script> -->
    <!-- <script async
        src="https://www.google-analytics.com/analytics.js"></script> -->
    <!-- <script>window.cookieconsent.initialise({ cookie: { name: "CC" }, palette: { popup: { background: "#ffffff", text: "#404040" }, button: { background: "#4b81e8", text: "#ffffff" } }, theme: "classic", content: { message: "Les cookies nous permettent de personnaliser le contenu et les annonces, d'offrir des fonctionnalités relatives aux médias sociaux et d'analyser notre trafic. Nous partageons des informations sur l'utilisation de notre site avec nos partenaires de médias sociaux, de publicité et d'analyse.", dismiss: "Ok", link: "En savoir plus", href: "https://www.funcraft.net/tos" } })</script> -->
</body>

</html>